
.todoCard {
    width: 600px;
    height: 100px;
    background-color: #fff;
    box-shadow: 4px 4px 20px rgba(185, 186, 185, 0.75);
    margin-top: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.done {
    text-decoration: line-through;
    background: #005380;
}

.button{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
